
*{
	margin:0vw;
	padding:0vw;}


body{ background-image: url("arena.jpg");
background-size: cover; }
  
details {width: 80%;
height: 50%;
margin: 2vw auto;
background-color: #fff;
 text-align: justify;}

details >p {text-align: justify;
width: 95%;
height: 50%;
margin: auto; font-size:90%;}

summary {font-size: 120%;
text-align: center;
color: #fff;}

.prima {background-image: url("verde.jpg");}
.secu {background-image: url("naranja.jpg");}
.terc {background-image: url("amarillo.jpg");}
.cuar {background-image: url("rojo.jpg");}
.quin {background-image: url("violeta.jpg");}
.sext {background-image: url("azul.jpg");} 
